 * {padding:0; margin:0;}

 body{overflow: hidden; background: linear-gradient(115deg, #37bb8a 0%, #499282 100%);}

.sidebar {height: 70vh; background: transparent; width: 23%; padding: 1px 5px;}
.topbar {font-family: 'Roboto', sans-serif; color: #EEEEEE; background: #105652; padding: 8px 0; font-size: 30px; font-weight: 700;}
.logo {margin-left: 2.9%}
.stat {border-radius: 50px; background: #420516; font-size: 22px; color: #EEEEEE; font-family: 'Roboto', sans-serif; border: 3px solid #111; display: flex; justify-content: space-between; padding: 10px 10px; margin: 20px 0; align-items: center;}
.main {padding: 10px 10px; background: #7D1935}
.mainp {font-weight: 700; font-size: 30px}
.main-flex {display: flex; align-items: center; width: 99%; margin: 15px auto;}
.txtarea-container {width: 77%; padding: 5px 8px 5px 5px; }
.txtarea {resize: none; border-radius: 10px;background: #CEE5D0; width: 96.8%; height: 70vh; outline: none; border: 2px solid #111; padding: 10px; font-size: 18px; font-family: 'Poppins';}
.dtlp {font-size: 17px}
.footer {width: 100%; background: #105652; height: 100px;}
.footer-p {text-align: center; color: #fff; font-size: 20px; font-family: 'Roboto', sans-serif;}
.f-para {padding-top: 15px;}
.minimial {font-size: 17px; font-weight: 300; margin-top: 5px;}
.maindtlp {font-size: 19px;}
.logo span {font-size: 13px; font-weight: 300; margin-left: -5px;}